
// FONT
$thin-font: "ProximaNova_Thin", sans-serif;
$light-font: "ProximaNova_Light", sans-serif;
$regular-font: "ProximaNova_Reg", sans-serif;
$regular-italic-font: "ProximaNova_Reg_It", sans-serif;
$bold-font: "ProximaNova_Bold", sans-serif;
$s-bold-font: "ProximaNova_Sbold", sans-serif;
$x-bold-font: "ProximaNova_Xbold", sans-serif;

// COLORS
$body-bg: #FFFFFF;
$p-color: #2D2E2E;
$h1-color: #6C3449;

// BUTTONS

