
// FONT
$thin-font: "WorkSans-Thin", sans-serif;
$light-font: "WorkSans-Light", sans-serif;
$extra-light-font: "WorkSans-ExtraLight", sans-serif;
$regular-font: "WorkSans-Regular", sans-serif;
$bold-font: "WorkSans-SemiBold", sans-serif;
$medium-font: "WorkSans-Medium", sans-serif;

// COLORS
$body-bg: #FFFFFF;
$p-color: #2D2E2E;
$h1-color: #b86063;

// BUTTONS

